@charset "utf-8";

*,
::before,
::after{
  /* 要素の余白をなくす */
  padding: 0;
  margin: 0;
  /* 要素の幅と高さの計算方法を指定する */
  box-sizing: border-box;
}

ul,
ol{
  /* リストの行頭アイコンを非表示にする */
  list-style: none;
}

a {
  /* 参照リンクスタイルをなくす */
  color: inherit;
  text-decoration: none;
}

body {
  /* フォントの指定 */
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #191919;
  line-height: 1;
  background-color: #fff;
}

img {
  /* 画像をはみ出さないようにする */
  max-width: 100%;
}

.poppins {
  /* 英字フォント */
  font-family: 'Poppins', sans-serif;
}


.header {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 0 25px;
}

.header-inner {
  max-width: 1230px;
  height: 80px;
  margin: 0 auto;
  /* 要素の横並び */
  display: flex;
  /* 要素を両端に寄せる */
  justify-content: space-between;
  /* 要素を上下中央揃え */
  align-items: center;
}

.header-site-menu {
  display: flex;
  align-items: center;
}

.site-menu {
  display: flex; 
  line-height: 1.5;
  font-weight: 600;
}

.site-menu li a {
  display: block;
}

/* テキストが入れ替わる */
.site-menu li a {
  position: relative;
  overflow: hidden;
  padding: 12px 50px;
}

.site-menu li span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: all .5s;
  transform: translate(-50%,0);
  display: block;
  opacity: 1;
  white-space: nowrap;
}

.site-menu li span:nth-child(2) {
  opacity: 0;
  transform: translate(-50%,100%);
}

.site-menu li:hover span:nth-child(1) {
  opacity: 0;
  transform: translate(-50%,-100%);
}

.site-menu li:hover span:nth-child(2){
  opacity: 1;
  transform: translate(-50%, 0);
}

/* 文字間隔の調整 */
.menu-home {
  display: none;
}

.menu-library {
  margin-right: 16px;
}

.menu-contents {
  margin-right: 22px;
}

/* ハンバーガーメニュー */
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	cursor: pointer;
  width: 50px;
  height:50px;
	border-radius: 5px;
  display: none;
}

.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #191919;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#menu-home ,
#youtube-link ,
#twitter-link ,
#note-link {
  display: none;
}

.text_link {
  color: #0066c0;
  text-decoration:underline;
  text-decoration-color: #0066c0;
}

@media (max-width: 900px) {

  .openbtn {
    display: block;
  }
  
  .header-logo span:nth-child(2) {
    display: none;
  }

  #menu-home  {
    display: block;
  }

  .site-menu li,
  .site-menu li a,
  .site-menu li span {
    position: static;
    transition: none;
    transform: none;
    padding: 0;
    display: flex;
  }

  .site-menu li span:nth-child(2),
  .site-menu li:hover span:nth-child(1), 
  .site-menu li:hover span:nth-child(2) {
    opacity: 1;
    transform: none;
  }

  .header-site-menu-navi {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: -100vh;
    background: #ffffff;
    transition: .7s;
  }
  
  .header-site-menu-navi.open {
    transform: translateY(100%);
  }

  /* ハンバーガー内装 */
  .site-menu ,
  #menu-home,
  .menu-contents,
  .menu-library,
  .menu-contact {
    flex-direction: column;
    align-items: center;
  }

  .site-menu a {
    margin: 0;
  }

  #hamburger-inner {
    margin-top: 30px;
  }

  #hamburger-inner li {
    margin-top: 30px;
  }

  #hamburger-inner li:nth-child(5) ,
  #hamburger-inner li:nth-child(6) ,
  #hamburger-inner li:nth-child(7) {
    margin-top: 20px;
  }

  #hamburger-inner li:nth-child(4) {
    margin-bottom: 50px;
  }

  .site-menu span:nth-child(2) {
    font-size: 12px;
  }

  #youtube-link {
    display: flex;
    background-color: #E31E23;
    color: #fff;
    padding: 8px 15px;
    border-radius: 12px;
    align-items: center;
    width: 150px;
  }

  #twitter-link ,
  #note-link {
    display: flex;
    background-color: #666;
    color: #fff;
    padding: 8px 15px;
    border-radius: 12px;
    align-items: center;
    width: 150px;
  }

  #youtube-link img ,
  #twitter-link img ,
  #note-link img {
    width: 20px;
    margin-right: 20px;
  }
  
}

