@charset "utf-8";

@media (max-width:900px) {
  
  .top_news .content {
    margin-top: 60px;
  }
  
  .all_border_title ._head {
    letter-spacing: 0;
    font-weight: 600;
    padding-left: 30px;
  }

  .all_border_title ._main {
    letter-spacing: 0;
    font-size: 50px;
    padding-left: 30px;
  }

  .tab {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  ._left_inner ul li ,
  ._left_inner ul li:nth-child(n+2) {
    margin-right: 10px;
    margin-top: 15px;
    height: 100%;
    align-items: center;
    letter-spacing: 0;
  }

  .all_button {
    display: none;
  }
  
  ._inner {
    flex-direction: column;
  }

  ._left ,
  ._right {
    width: auto;
  }

  ._right {
    margin-top: 40px;
  }

  ._right input {
    width: 250px;
  }
  
  .area .title {
    flex-wrap: wrap;
    margin: 0;
    padding-left: 15px;
  }
  
  .area ._plus {
    display: none;
  }

  .area ._title {
    width: 100%;
    margin-top: 15px;
  }

  .area .box {
    font-size: 12px;
  }

  .box li:nth-child(1) {
    padding: 10px 20px 15px 20px;
  }
}