@charset "utf-8";

/* タイトル */
.all_border_title ._head {
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 16px;
  color: #222020;
}

.all_border_title ._main {
  line-height: 1;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 80px;
  color: #222020;
  margin-top: 10px;
}

/* リスト */
.area:not(.active) {
  display: none;
}

.area {
  background-color: #fafafa;
  padding: 30px 30px 30px 50px;
  border-radius: 12px;
}

.area .title_area {
  margin-top: 15px;
}

.area .sub_title {
  font-size: 12px;
  font-weight: 500;
}

.area .sub_title::after {
  content: '';
  display: block;
  width: 7px;
  height: 9px;
  background-color: #191919;
  margin-top: -10.7px;
}

.cosugi {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  width: 200px;
}

.area .title {
  padding: 35px 0;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px #EFEFEF solid;
  color: #222020;
  cursor: pointer;
}

.area time {
  width: 95px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: 14px;
}

.area .button_area {
  width: 150px;
}

.area ._plus {
  width: 60px;
  height: 20px;
  position: relative;
  margin-left: auto;
}

.area ._plus span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  border-radius: 2px;
  background: #AFAFAF;
}

.area ._plus span:nth-of-type(1) {
	top: 9px;	
  left: 20px;
  height: 2px;
  width: 20px;
}

.area ._plus span:nth-of-type(2) {
	top: 0px;	
  left: 29px;
  height: 20px;
  width: 2px;
}

.area ._plus.active span:nth-of-type(2) {
  top: 0px;
  right: 20px;
  transform: translateY(0px) rotate(-90deg);
}

.area ._arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

.area ._category {
  width: 122px;
  display: block;
}

.area ._category ._block {
  padding: 0 15px;
  display: inline-block;
  border: 1px #AFAFAF solid;
  border-radius: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-size: 12px;
}

.area ._title {
  width: calc(100% - 300px);
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 全体 */
.top_news {
  position: relative;
}

.content {
  background: #fff;
  margin-top: 200px;
  padding: 0px 0 175px 0;
}

._inner {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.all_border_title .all_square_anime {
  padding-right: 0.1em;
}

._left {
  width: 300px;
  position: relative;
}

._left_inner {
  position: sticky;
  top: 200px;
}

._right {
  width: calc(100% - 340px);
  max-width: 800px;
}

._link {
  margin: 80px 0 0;
}

._link_tb {
  display: none;
}

/* tab */
.tab {
  margin: 68px 0 0;
  font-weight: 600;
}

.tab li {
  line-height: 1.5;
  font-weight: 600;
  font-size: 15px;
}

/* アコーディオン */
.title::before{
  transform: rotate(0deg);
}

.title::after{
  transform: rotate(90deg);
}

.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

.box {
  display: none;/*はじめは非表示*/
  background: #fafafa;
  padding: 3%;
  font-weight: 500;
  color: #191919;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 600;
}

.box li {
  display: flex;
  align-items: center;
  border-bottom: 1px #e6e6e6 solid;
  padding: 20px;
}

.box li:nth-child(1) {
  padding: 10px 20px 20px 20px;
}

.box ._box2 {
  margin-right: 45px;
  min-width: 28px;
}

.box ._box3 {
  margin-right: 30px;
  min-width: 43px;
}

.box ._cate {
  background-color: #e6e6e6;
  padding: 5px 15px;
  border-radius: 9px;
}

._box1 span {
  margin-bottom: 10px;
}

._box1 ,
.box ._box2_box ,
.box ._box3_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box p {
  margin: 20px 0 10px 0;
  padding: 20px;
}

.box .gallary {
  display: flex;
  align-items: center;
}

.box .gallary img {
  width: 25px;
  margin-right: 20px;
}

.text_red {
  color: #E31E23;
  margin-right: 0px;
}

.text_title {
  font-weight: 700;
  font-size: 16px;
}

/* ボタン */
.all_button {
  width: 250px;
  height: 50px;
  padding: 0 20px 0 30px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px #E31E23 solid;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #E31E23;
  transition: 0.4s ease;
}

.all_button span {
  width: 100%;
  position: static;
  display: block;
}

.all_button:after {
  content:"";
  background: url(/images/arrow.red.png) no-repeat center/6px 10px;
  width: 6px;
  height: 10px;
  display: block;
}

.all_button:hover {
  background: #E31E23;
  border-color: #E31E23;
  color: #fff;
  opacity: 1;
}

.all_button:hover:after {
  animation:arrow_animation 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  background-image: url(/images/arrow.white.png);
}

@keyframes arrow_animation {
  30%,35%{
    opacity:0
  }33%{
    transform:translateX(0.3rem)
  }34%,35%{
    transform:translateX(-1rem)
  }100%{
    transform:translateX(0)
  }
}

/* スクロールしたらフワッと */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

._plus img {
  width: 20px;
}

.area ._category ._youtube {
  padding: 0 15px;
  display: inline-block;
  border: 1px #E31E23 solid;
  color: #E31E23;
  border-radius: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-size: 12px;
}


@media (max-width:900px) {
  
  .top_news .content {
    margin-top: 60px;
  }
  
  .all_border_title ._head {
    letter-spacing: 0;
    font-weight: 600;
    padding-left: 30px;
  }

  .all_border_title ._main {
    letter-spacing: 0;
    font-size: 50px;
    padding-left: 30px;
  }

  .tab {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  .tab li {
    font-size: 13px;
  }

  ._left_inner ul li ,
  ._left_inner ul li:nth-child(n+2) {
    margin-right: 10px;
    margin-top: 15px;
    height: 100%;
    align-items: center;
    letter-spacing: 0;
  }

  .all_button {
    display: none;
  }
  
  ._inner {
    flex-direction: column;
  }

  ._left ,
  ._right {
    width: auto;
  }

  ._right {
    margin-top: 40px;
  }

  .area {
    padding: 20px 10px 30px 10px;
  }

  .cosugi {
    font-size: 20px;
    margin-bottom: 0;
  }

  .area .title_area {
    margin-left: 15px;
  }

  .area .title {
    flex-wrap: wrap;
    margin: 0;
    padding-left: 15px;
  }
  
  .area ._plus {
    display: none;
  }

  .area ._title {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }

  .area .box {
    font-size: 12px;
  }

  .box li:nth-child(1) {
    padding: 10px 20px 15px 20px;
  }
}